{
  "rules": {
    "indent": "off",
    "quotes": [2, "single"],
    "linebreak-style": ["error", "windows"],
    "semi": [2, "always"]
  },
  "env": {
    "browser": true
  },
  "globals": {
    "process": true,
    "module": true,
    "require": true
  },
  "extends": "eslint:recommended"
}
